%nav.navbar.navbar-inverse{role: 'navigation'}
  .navbar-header.text-uppercase
    %a.navbar-brand{'ui-sref' => 'home'}
      %span Jogging TR.
  %ul.nav.navbar-nav.pull-right
    %li
      %a{'ui-sref' => 'signUp'}
        %span Sign up
        %i.glyphicon.glyphicon-fire
    %li
      %a{'ui-sref' => 'login'}
        %span Login
        %i.glyphicon.glyphicon-log-in